<a href="https://colab.research.google.com/github/dudgus7477/datascience/blob/main/%EB%A8%B8%EC%8B%A0%EB%9F%AC%EB%8B%9D_%EB%A7%9B%EB%B3%B4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# score.xlsx 데이터 파일 불러오기 위해 필요한 모듈 포함시키기

In [ ]:
#데이터 분석에 많이 사용되는 파이썬 라이브러리
import pandas as pd

# 불러온 데이터 파일을 df라는 변수에 저장하기
##### head() : 데이터의 상단 부분만 보여줌

In [ ]:
data = pd.read_excel('./score.xlsx')
data.head()

    이름 성별  국어  영어  수학         평균  등급
0  김xx  여  67  99  90  85.333333   1
1  이xx  남  78  99  77  84.666667   1
2  박xx  여  90  67  89  82.000000   2
3  최xx  남  99  78  67  81.333333   2
4  정xx  남  67  89  70  75.333333   3

# 기계학습을 위해 필요한 모듈 importing하기
>훈련데이터와 테스트 데이터로 나누기 위한 메소드

>서포트벡터머신 (Support vector machine) 포함시키기

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
data['성별'] = data['성별'].map({'남': 0, '여': 1})

In [ ]:
data.head()

    이름  성별  국어  영어  수학         평균  등급
0  김xx   1  67  99  90  85.333333   1
1  이xx   0  78  99  77  84.666667   1
2  박xx   1  90  67  89  82.000000   2
3  최xx   0  99  78  67  81.333333   2
4  정xx   0  67  89  70  75.333333   3

# 기계학습을 위한 데이터 준비하기 (X: 특징 데이터, y:레이블 데이터)
#### 해당 열을 조회할 때 loc 사용

In [ ]:
X = data.loc[:,['성별','국어', '영어', '수학']]
y = data.loc[:,'등급']

### 훈련데이터와 테스트 데이터를 8:2 비율로 나누어 각각 X_train, X_test, y_train, y_test에 저장하기

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=True)

# 서포트벡터머신 클래스를 my_model에 저장하기

In [ ]:
my_model = SVC()

# 훈련하기

In [ ]:
my_model.fit(X_train, y_train)

SVC()

# 임의의 데이터를 입력해서 결과 값 예측하기

In [ ]:
my_model.predict([[0, 60, 88, 70]])

array([3])

In [ ]:
my_model.predict([[1, 67, 100, 90]])

array([1])

In [ ]:
my_model.predict([[1, 76, 55, 34]])

array([6])